In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./row_data/dossier_complet.csv", sep=";")
df

/var/folders/vj/r3vng6ks67sclkp5wn81gzt40000gn/T/ipykernel_8244/2599856843.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./row_data/dossier_complet.csv", sep=";")

,CODGEO,P20_POP,P20_POP0014,P20_POP1529,P20_POP3044,P20_POP4559,P20_POP6074,P20_POP7589,P20_POP90P,P20_POPH,...,CPGEO524,VV24,VVUH24,VVLIT24,RT24,RTUH24,RTLIT24,AJCS24,AJCSUH24,AJCSLIT24
0,1001,806.0,155.306150,97.169380,148.761022,191.372049,143.616249,64.277500,5.497650,410.480215,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1002,262.0,57.242248,33.095709,56.756395,56.376187,38.184730,18.601713,1.743019,137.369209,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1004,14288.0,2649.807321,3027.794160,2691.337871,2427.065245,2169.634700,1131.402296,190.958407,6880.642235,...,0.0,0.0,0.0,0.0,1.0,16.0,16.0,0.0,0.0,0.0
3,1005,1782.0,353.000000,273.000000,369.000000,387.000000,277.000000,113.000000,10.000000,893.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1006,113.0,9.912281,13.877193,19.824561,23.789474,37.666667,7.929825,0.000000,59.473684,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34996,51063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34997,51637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34998,71492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34999,85037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35000,85053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
meta = pd.read_csv("./row_data/meta_dossier_complet.csv", sep=";")
meta

/var/folders/vj/r3vng6ks67sclkp5wn81gzt40000gn/T/ipykernel_8244/1469169130.py:1: DtypeWarning: Columns (3,7) have mixed types. Specify dtype option on import or set low_memory=False.
  meta = pd.read_csv("./row_data/meta_dossier_complet.csv", sep=";")

,COD_VAR,LIB_VAR,LIB_VAR_LONG,COD_MOD,LIB_MOD,TYPE_VAR,LONG_VAR,THEME,SOURCE
0,P20_POP,Population en 2020 (princ),Population en 2020,NaN,NaN,NUM,7,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
1,P20_POP0014,Pop 0-14 ans en 2020 (princ),Nombre de personnes de 0 à 14 ans en 2020,NaN,NaN,NUM,17,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
2,P20_POP1529,Pop 15-29 ans en 2020 (princ),Nombre de personnes de 15 à 29 ans en 2020,NaN,NaN,NUM,17,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
3,P20_POP3044,Pop 30-44 ans en 2020 (princ),Nombre de personnes de 30 à 44 ans en 2020,NaN,NaN,NUM,17,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
4,P20_POP4559,Pop 45-59 ans en 2020 (princ),Nombre de personnes de 45 à 59 ans en 2020,NaN,NaN,NUM,17,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
...,...,...,...,...,...,...,...,...,...
71850,CODGEO,Code géographique,Code du département suivi du numéro de commune...,75116,Paris 16e Arrondissement,CHAR,5,NaN,"Insee, COG au 01/01/2022"
71851,CODGEO,Code géographique,Code du département suivi du numéro de commune...,75117,Paris 17e Arrondissement,CHAR,5,NaN,"Insee, COG au 01/01/2022"
71852,CODGEO,Code géographique,Code du département suivi du numéro de commune...,75118,Paris 18e Arrondissement,CHAR,5,NaN,"Insee, COG au 01/01/2022"
71853,CODGEO,Code géographique,Code du département suivi du numéro de commune...,75119,Paris 19e Arrondissement,CHAR,5,NaN,"Insee, COG au 01/01/2022"
71854,CODGEO,Code géographique,Code du département suivi du numéro de commune...,75120,Paris 20e Arrondissement,CHAR,5,NaN,"Insee, COG au 01/01/2022"

# Match col names

In [5]:
col_names = meta[["COD_VAR", "LIB_VAR"]].drop_duplicates(subset="COD_VAR").to_dict("index")
col_names = {aa["COD_VAR"]: aa["LIB_VAR"] for aa in col_names.values()}

In [1]:
with open("./output/col_list", "w") as f:
  f.write("\n".join(col_names.values()))

NameError: name 'col_names' is not defined

In [25]:
df = df.rename(columns=col_names)

# Filter to get 1 city

In [45]:
meta[(meta["COD_VAR"] == "CODGEO") & (meta["LIB_MOD"].str.lower().str.contains("château-thierry"))]

,COD_VAR,LIB_VAR,LIB_VAR_LONG,COD_MOD,LIB_MOD,TYPE_VAR,LONG_VAR,THEME,SOURCE
2434,CODGEO,Code commune,Code commune,02168,Château-Thierry,CHAR,5,NaN,"Insee, COG au 01/01/2023"
37409,CODGEO,Code géographique,Code du département suivi du numéro de commune...,02168,Château-Thierry,CHAR,5,NaN,"Insee, COG au 01/01/2022"

In [67]:
cdf = df[df["Code commune"] == 2168].T
cdf.columns = ["value"]
cdf

                                                          value
Code commune                                               2168
Population en 2020 (princ)                              15306.0
Pop 0-14 ans en 2020 (princ)                        3049.824075
Pop 15-29 ans en 2020 (princ)                        2682.12055
Pop 30-44 ans en 2020 (princ)                       2860.474355
...                                                         ...
Unités d'hébergements dans Résidences de touris...          0.0
Lits dans Résidences de tourisme en 2024                    0.0
Auberges de jeunesse - Centres sportifs en 2024             0.0
Unités d'hébergements dans Auberges de jeunesse...          0.0
Lits dans Auberges de jeunesse - Centre sportif...          0.0

[1883 rows x 1 columns]

# Analysis

## Population

In [75]:
cdf.filter(like="Pop ", axis=0)

                                                  value
Pop 0-14 ans en 2020 (princ)                3049.824075
Pop 15-29 ans en 2020 (princ)                2682.12055
Pop 30-44 ans en 2020 (princ)               2860.474355
Pop 45-59 ans en 2020 (princ)               2630.873374
Pop 60-74 ans en 2020 (princ)               2577.772691
...                                                 ...
Pop Ménages (Pop Rés princ) en 1999 (dnbt)      14415.0
Pop Ménages (Pop Rés princ) en 1990 (dnbt)      14743.0
Pop Ménages (Pop Rés princ) en 1982 (dnbt)      14163.0
Pop Ménages (Pop Rés princ) en 1975 (dnbt)      13011.0
Pop Ménages (Pop Rés princ) en 1968 (dnbt)      10505.0

[552 rows x 1 columns]

In [85]:
x = cdf.filter(regex=r"Pop (\d|\d{2})-\d{2} ans en 2020 \(princ\)", axis=0).sort_index()
x

                                     value
Pop 0-14 ans en 2020 (princ)   3049.824075
Pop 11-14 ans en 2020 (princ)   823.412073
Pop 15-17 ans en 2020 (princ)   534.891371
Pop 15-19 ans en 2020 (princ)   872.794891
Pop 15-24 ans en 2020 (princ)  1737.885719
Pop 15-29 ans en 2020 (princ)   2682.12055
Pop 15-64 ans en 2020 (princ)  9060.706112
Pop 18-24 ans en 2020 (princ)  1202.994348
Pop 20-24 ans en 2020 (princ)   865.090829
Pop 25-29 ans en 2020 (princ)   944.234831
Pop 25-39 ans en 2020 (princ)  2782.271797
Pop 25-54 ans en 2020 (princ)  5545.741359
Pop 30-44 ans en 2020 (princ)  2860.474355
Pop 40-54 ans en 2020 (princ)  2763.469562
Pop 45-59 ans en 2020 (princ)  2630.873374
Pop 55-64 ans en 2020 (princ)  1777.079033
Pop 6-10 ans en 2020 (princ)   1086.994583
Pop 60-74 ans en 2020 (princ)  2577.772691
Pop 65-79 ans en 2020 (princ)  2252.725394
Pop 75-89 ans en 2020 (princ)   1335.88354